body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/* Don't display the data tables global search, because we already have per-column searching */
.dataTables_filter {
    display: none;
}
